* {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
body {
    overflow-x: hidden;
    height: 100vh;
  }

div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
img {
  height: 20px;
  width: 20px;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  border: 0px solid;
  background-color: #db4c3e;

  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 40px;
  justify-content: space-between;
}
.logo {
  position: relative;
  left: 31px;
  top: 1px;
  width: 25px;
  height: 25px;
}

.search-tab {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 35px;
  align-items: center;
}
.search {
  height: 20px;
  width: 20px;
  position: relative;
  top: 2px;
  left: 50px;
}
.searchkey {
  position: relative;
  bottom: -2px;
  left: -49px;
  color: #fff;
}

.figures {
  position: relative;
  bottom: 3px;
  color: #fff;
}
.right-side {
  display: flex;
  position: relative;
  
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  right: 2%;
  width: 200px;
}
.main_body {
  position: absolute;
  display: flex;
  flex-direction: row;  
  width: 100%;
  top: 40px;
}

.side-bar {
  width: 172px;
  float: left;
  align-items: start;
  padding: 45px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  border-right: 2px solid grey;
  height: 600px;
}
.top {
  position: relative;
  left: -20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: inherit;
  align-content: center;
}
.count {
  font-size: 10px;
  color: gray;
}

.title {
  position: relative;
  left: -50px;
}

.mid {
  position: relative;
  bottom: -10px;
  display: inline-flex;
  right: 48px;
  align-items: flex-start;
  width: 260px;
  flex-direction: column;
  column-gap: 10px;
  justify-content: space-between;
  padding-top: 0px;
}

.dropdown {
  padding: -5px;
  text-decoration: none;
  font-size: 12px;
  border: none;
  background: none;
  width: 260px;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30px;
  border-bottom: 1px solid #f6f6f6;
  align-items: center;
}
.projects-right {
  position: relative;
  right: -20px;
}
.right {
  width: 12px;
  height: 12px;
}
.offright {
  position: relative;
  left: -36px;
  width: 12px;
  height: 12px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.blt {
  width: 10px;
  height: 10px;
}

.small {
  color: gray;
  font-size: 12px;
}

.body {

  width: 9000px;
  float: left;
  display: flex;
  

 
  align-items: start;
  flex-direction: column;
  justify-content: last baseline;
}
.messages {
  display: flex;
  flex-direction: column;
  padding: 90px;
  width: inherit;
  position: relative;
  bottom: 220px;
}

.left_side{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 175px;
    float: left;
    padding: 10px;

    align-items: start;
    padding: 45px;

}
.right_side{
    width: 1040px;
   
    float: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
   
}
.message_container {
  border-bottom: 1px solid#f6f6f6;

  width: inherit;
  flex-direction: row;
  padding-left: 10px;
  margin: -2px;
  left: -097px;
  justify-content: flex-start;
  align-items: center;
}
.topPart {
   
  display: flex;
  width: inherit;
  position: relative;
  top: 40px;

  flex-direction: row;
  justify-content: space-between;
}
.heading {
  position: relative;
  left: 10px;

}
.options {
  position: relative;

  right: 20px;
  justify-content: space-between;
  width: 100px;
}

.m-right {
    position: relative;
    left:670px;
    justify-content: space-between;
    width: 150px;
}

.mleft-side{
    position: relative;
    top: 160px;
display: flex;
flex-direction: column;
float: left;
width: 50%;
justify-content: flex-start;
}
.mright-side{
    position: relative;
    display: flex;
    top: 160px;
    flex-direction: column;
    float: left;
    width: 50%;
    justify-content: flex-end;
    }
.portrait{
    border-radius: 50%;
}
@media (max-width: 500px) {
    .nav-bar{
        width: 100%;
    }
    .main_body{
        width: 100%;
        
    }
  .left_side .top .mid {
    flex-direction: row;
    width: min-content;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
